@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', serif;
}
.navbar-brand,
.text--heading {
    font-family: 'Cedarville', cursive;
}

@media (min-width: 768px) { 
    .dropdown-menu {
        max-height: 305px;
        overflow-y: auto;
    }
    .dropdown-menu::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .dropdown-menu::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .dropdown-menu::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
                        left top,
                        left bottom,
                        color-stop(0.4, #c89fb5),
                        color-stop(0.7, #80678e),
                        color-stop(0.9, #46537d));
    }
}

.banner {
    background: url('assets/hero-bg.jpeg') no-repeat center center / cover;
    width: 100%;
    height: 100vh;
}
.banner-heading {
    margin-top: 250px;
}
.banner-btn {
    background-color: rgb(17,27,27) !important;
    border: none !important;
    transition: .5s;
    box-shadow: none !important;
}
.banner-btn:hover {
    background-color: rgb(36, 151, 151) !important;
    box-shadow: none !important;
}
.blog .blog-img {
    background: url('') no-repeat center center / cover;
    width: 50%;
    height: 30vh;
}
footer a {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffc107;
    margin-bottom: 5px;
}
.carousel-item img {
    max-height: 600px;
    width: auto;
}
